body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.calculateArea{
  padding: 40px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  
}




/*--------------TABLE Area------------------*/
#values {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: inline;
    text-align: center;
  }
  
  #values td, #values th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #values tr:nth-child(even){background-color: #f2f2f2;}
  
  #values tr:hover {background-color: #ddd;}
  
  #values th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }