
html{
    outline: none !important;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: url("library.jpg");
    background-size: cover;
}

.container{
    width: 600px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(245, 245, 245,0.8);
    padding: 40px;
    border-radius: 10px;
    
    
}

.quote-box{
    padding: 30px;
    width: 90%;
    background-color: rgb(128, 128, 128);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 1px 1px 20px gray;
}
h1{
    text-align: center;
    color: rgb(74, 74, 74);
}

.buttons{
    padding: 15px;
    margin: 15px;
    position:absolute;
    margin-right: auto;
    margin-left: auto;
    top: 320px;
    
}

button{
    cursor: pointer;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    transition: 0.4s;
    
}



#quoteBtn{
    background-color: rgb(233,218,193);
    box-shadow: 1px 1px 8px rgb(55, 54, 50);
}

#twitterBtn{
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px rgb(29,155,240);
    background-color: white;
}
i{
    font-size: 20px;
    color: rgb(29,155,240);
}